* {
  margin: 0;
  padding: 0;
}

:root {
  --accent: #8256b8;
  --foreground: #fff;

  font-size: 62.5%;
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--accent);
  color: var(--foreground);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

body > * + * {
  margin-top: 4.8rem;
}

h1 {
  background-image: url('/logo.png');
  background-size: cover;
  display: block;
  font: 0 / 0 a;
  height: 12.8rem;
  width: 12.8rem;
}

a {
  display: block;
  font: 0 / 0 a;
}

.app-store {
  background-image: url('/app-store.svg');
  background-size: cover;
  height: 4.0rem;
  width: 12.0rem;
}

/* Social Links */

.social {
  display: flex;
  opacity: 0.65;
}

.social > * + * {
  margin-left: 2.4rem;
}

.social a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3.2rem;
  display: block;
  height: 4.4rem;
  width: 4.4rem;
}

.social .facebook {
  background-image: url('/social-facebook.png');
}

.social .twitter {
  background-image: url('/social-twitter.png');
}
